@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Tiro+Gurmukhi&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Tiro';
    color: #1E1E2A;
    background-color: #96cff1;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 100px;
  position: relative;
}

h1{
  font-size: 20px;
  letter-spacing: 2px;
  color: #1E1E2A;
}

.texto-sobre{
  font-size: 40px;
  letter-spacing: 1px;
  color: #1E1E2A;

}

p {
  font-size: 20px;
  letter-spacing: 2px;
}

a:hover {
  background-color: white;
}

/*MENU*/

.menu {
  position: absolute;
  top: 26px;
  right: 28px;
  background-color: transparent;
  height: 3px;
  border-radius: 45%;
  box-shadow: 0px 0px 0px 0px whitesmoke;
  z-index: -1;
  transition: 300ms ease-in-out 0s;
}

.menu-itens {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: 300ms ease-in-out 0s;
}

.menu-itens ul {

  list-style-type: none;
}

.menu-itens ul li a {
  margin: 10px 0;
  color: #1E1E2A;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 35px;
}

.main-conteiner {
  padding: 0px 60px 0px 60px;
}