@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Tiro+Gurmukhi&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Tiro';
    color: #1E1E2A
}

.header-container {

    height: 100vh;
    width: 100vw;
    background-color: #96cff1;
  /*  background-image: url(./img/new.png);*/
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 100px;
    position:fixed;
    left: 100%;
}

h1{
  font-size: 20px;
  letter-spacing: 2px;
  color: #1E1E2A;
}

.texto-sobre{
  font-size: 40px;
  letter-spacing: 1px;
  color: #1E1E2A;

}