@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Tiro+Gurmukhi&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Tiro';
    color: #1E1E2A
}

/* Estilização HEADER */

.header-container {

    height: 100vh;
    width: 100vw;
    background-color: #96cff1;
    /* background-image: ;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0  100px;
    position: relative;
}

h1 {
    font-size: 45px;
    letter-spacing: 5px;
}

h6 {
    font-size: 30px;
    letter-spacing: 2px;
}

/*Estilização mídias Sociais*/

.mídias-sociais{
    margin-top: 2rem;
    display: flex;
}

.mídias-sociais a{
    text-decoration: none;
    color: #1E1E2A;
    padding: 1rem  2rem;
    border: 1px solid #1E1E2A;
    min-width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s ease-in-out;

}

a:hover{
    background-color: white;
}

/* Menu arredondado*/

.checkbox-container{
    display: flex;
justify-content: center;
align-items: center;
}

.checkbox{
    height: 90px;
    width: 90px;
    position:absolute;
    right: 1;
    top: 1;
    justify-content: center;
    cursor: pointer;
    z-index: 8888; /*sobreposição da bolha*/
    transition: 300ms case-in-out 0s; /* tempo de responsividade*
    
}
